APP_ENV=local
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3313
DB_NAME=kanal_api_go
DB_USER=root
DB_PASSWORD=root
DB_TIMEZONE=Asia/Makassar

APP_PORT=8080
APP_ENV=local

JWT_SECRET=9f1b0e2c6a8d4c0a4f7b3c9d8a1e6f0b2c7d9a3e4f6b8c0d1a2b3c4d5e6f7a8

REDIS_ADDR=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redispassword

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=wN5y7q3EQaL9tjFcR9xRIPvkjUu/+ObVCkSDwKed

AWS_ACCESS_KEY_ID=AKIA54O4O5BIGSEULNV6
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=dev-instantlybooking-com-dashboard
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=https://dbaoha73zhxfm.cloudfront.net

MAIL_USERNAME=31739e00398759
MAIL_PASSWORD=379f09a2259708
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@instantlybooking.com"
MAIL_FROM_NAME="Kanal Go Gin"

